@import url("https://fonts.cdnfonts.com/css/pp-neue-montreal");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "PP Neue Montreal", sans-serif;
}

h1 {
  font-size: 4rem;
  font-weight: 500;
  line-height: 1;
}

h2 {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.125;
  letter-spacing: -0.03rem;
}

p {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.5;
}

section {
  position: relative;
  width: 100vw;
  height: 100svh;
  background-color: #f5f5f0;
  color: #1a1a1a;
  overflow: hidden;
}

@media (max-width: 768px) {
  h1 {
    text-align: center;
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.4;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.75rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  p {
    font-size: 0.9rem;
  }
}
